/* Global styles for fullscreen splash screen in Storybook */
[data-is-fullscreen="true"] .os-host,
[data-is-fullscreen="true"] .os-padding,
[data-is-fullscreen="true"] .os-viewport,
[data-is-fullscreen="true"] .sb-story,
[data-is-fullscreen="true"] .os-content {
  padding: 0 !important;
  margin: 0 !important;
  height: 100vh !important;
  width: 100vw !important;
}

[data-name="1_Dark_splash screen"] {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 9999;
}

